
*{box-sizing: border-box;}
body{
    margin: 0;
    height: 100%;
}
/* Header css for logo and text */
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background-color: white;
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
.logo-content > img{
    border: 0px solid #42515F;
    margin: 6px;
}
.address-text{
    letter-spacing: 0px;
    color: #008cff;
    text-transform: uppercase;
    font: normal normal bold 22px/25px Montserrat;
    text-align: left;
}
.address-book{
    color: #42515f;
}
.heading{
    display: flex;
    flex-direction: column;
}
/* UC-2 Header , form ,and a input text */
.form-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    min-height: calc(100% - 80px);
  }
  form {
    width:60%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .form-head {
    font: normal normal bold 24px/37px Roboto;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding: 20px 20px;
    background: #008CFF 0% 0% no-repeat padding-box;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .form-head>div{
      float: right;
  }
  .form-head>div>img{
      width: 40px;
  }
  .row{
      padding: 44px 100px;
  }
  .row-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .label {
    min-width: 100px;
    padding-bottom: 5px;
    display: inline-block;
    color: #42515f;
    font: normal normal bolder 16px/24px Roboto;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .address-row{
      display: flex;
      justify-content: space-between;
  }
  select {
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    margin-right: 15px;
    padding:9px 50px 9px 0;
  }
  .button-div{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
  }
  .button {
    font-size: 20px;
    color: #42515f;
    font-weight: normal;
    font-family: "Roboto";
    background: #e2e2e2;
    border: none;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #969696;
    border-radius: 5px;
    cursor: pointer;
  }
  .addButton:hover {
    background-color: #008cff;
    color: #ffffff;
  }
  .addButton {
    margin-right: 30px;
  }
  .resetButton:hover{
      background-color: #707070;
      color: #ffffff;
  }
/* UC-4 Media Queries */
  @media only screen and (max-width:1255px) {
      .address-row{
      flex-wrap: wrap;
      }
      .button-div{
        justify-content: center;
      }
  }
  @media only screen and (max-width:820px) {
      form{
        width: 70%;
    }
    
  }
  @media only screen and (max-width:506px){

    form{
        width: 100%;
    }
    .row{
        padding-left: 35px;
    }
    .button-div{
        margin-left: 75px;
    }
    .input {
        width: 110%;
    }
  }
   @media only screen and (max-width:360px){
      .form-head{
          font-size: 20px;
      }
      .button-div{
          margin-right: 5px;
      }
  }
  @media only screen and (max-width:281px){
    .form-head{
        font-size: 15px;
    }
    .form-head>div>img{
        width: 30px;
    }  

  } 